.hubDiv {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.outletDiv {
  display: flex;
  justify-content: center;
  width: 95%;
  height: 100%;
  background-color: pink;
}

.outletHolderDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid rgb(207, 204, 204);
  padding: 10px;
  background-color: peru;
}

.feedOpts {
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: space-evenly;
}

.cursor:hover {
  background-color: rgb(214, 211, 211);
}

.cursor {
  width: 50%;
  text-align: center;
  font-size: 1.5rem;
}

.cursor:first-of-type {
  border-right: 1px solid rgb(207, 204, 204);
}

.cursor-reg {
  cursor: pointer;
}

.selectedFeedView {
  text-decoration: underline;
  text-decoration-color: rgb(37, 7, 88);
  text-underline-offset: 22px;
}

/* nav */

.navie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navOpts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.brandLOGO {
  width: 100px;
}

.navIMG {
  width: 35px;
}

.navIMG-dms {
  width: 45px;
  margin-left: -8px;
}

/* rendering posts */

.feedPosts {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.beforeRenderingPosts {
  display: flex;
  align-items: center;
  height: 200px;
  gap: 5px;
}

.feedPFP {
  width: 90px;
  height: 75px;
  flex-shrink: 0;
}

.inputWrapper {
  flex-grow: 1;
}

.wannaSaySomething {
  border: none;
  height: 75px;
  width: 100%;
  border: 1px solid rgb(215, 215, 215);
  padding: 20px;
}
