.login-signupMain {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.login,
.signup,
.login-signup-form,
.login-signup-form > div {
  display: flex;
}

.login,
.signup {
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-size: 2rem;
  gap: 30px;
}

.login-signup-form {
  flex-direction: column;
  width: 600px;
  gap: 25px;
}

.login-signup-form > div {
  justify-content: space-between;
}

.loginBTN {
  align-self: center;
}

.loginBTN > button {
  width: 140px;
  height: 30px;
}

input {
  width: 60%;
}
